.copyrate {
    padding: 25px 23px;
    background: rgb(23, 24, 25);

    &__wrapper {
        margin: 0 auto;
        text-align: center;
        color:white;
        font-size: 11px;
        letter-spacing: 0.85px;
    }
}